<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<div id="page-sidebar" class="scrollable-content" th:fragment="left">

    <div id="sidebar-menu">
        <ul>
            <li>
                <a href="index.html" title="Dashboard">
                    <i class="glyph-icon icon-dashboard"></i>
                    个人工作空间
                </a>
            </li>
            <li>
                <a href="javascript:;" title="Components">
                    <i class="glyph-icon icon-code"></i>
                    组织人事
                </a>
                <ul>
                    <li>
                        <a href="/findByDept?deptid=1" title="Dashboard panels">
                            <i class="glyph-icon icon-chevron-right"></i>
                            公司花名册
                        </a>
                    </li>
                    <li>
                        <a href="/findByMark" title="Social boxes">
                            <i class="glyph-icon icon-chevron-right"></i>
                            实习生
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;" title="Pages">
                    <i class="glyph-icon icon-folder-open"></i>
                    薪酬福利
                </a>
                <ul>
                    <li>
                        <a href="payshow.html" title="Grid Layouts">
                            <i class="glyph-icon icon-chevron-right"></i>
                            薪资及个税
                        </a>
                    </li>
                    <li>
                        <a href="helper_classes.html" title="Helpers">
                            <i class="glyph-icon icon-chevron-right"></i>
                            调薪审核
                        </a>
                    </li>
                    <li>
                        <a href="/getPayAll" title="Login">
                            <i class="glyph-icon icon-chevron-right"></i>
                            薪资发放
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" title="Widgets">
                    <i class="glyph-icon icon-tags"></i>
                    假勤管理
                </a>
                <ul>
                    <li>
                        <a href="/selectByType" title="Tabs">
                            <i class="glyph-icon icon-chevron-right"></i>
                            休假项目
                        </a>
                    </li>
                    <li>
                        <a href="accordions.html" title="Accordions">
                            <i class="glyph-icon icon-chevron-right"></i>
                            考勤记录
                        </a>
                    </li>
                    <li>
                        <a href="datepicker.html" title="Datepicker">
                            <i class="glyph-icon icon-chevron-right"></i>
                            考勤报表
                        </a>
                    </li>

                    </ul>
            </li>
            <li>
                <a href="javascript:;" title="Elements">
                    <i class="glyph-icon icon-laptop"></i>
                    绩效考核
                </a>
                <ul>
                    <li>
                        <a href="content_boxes.html" title="Content Boxes">
                            <i class="glyph-icon icon-chevron-right"></i>
                            考核目标
                        </a>
                    </li>
                    <li>
                        <a href="response_messages.html" title="Response Messages">
                            <i class="glyph-icon icon-chevron-right"></i>
                            在线评分
                        </a>
                    </li>
                    <li>
                        <a href="badges.html" title="Badges &amp; Labels">
                            <i class="glyph-icon icon-chevron-right"></i>
                            考核结果
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;" title="Charts">
                    <i class="glyph-icon icon-bar-chart"></i>
                    人才培训
                </a>
                <ul>
                    <li>
                        <a href="charts_piegauges.html" title="Pie Gauges">
                            <i class="glyph-icon icon-chevron-right"></i>
                            需求计划
                        </a>
                    </li>
                    <li>
                        <a href="charts_justgage.html" title="JustGage">
                            <i class="glyph-icon icon-chevron-right"></i>
                            后期应用
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;" title="Tables">
                    <i class="glyph-icon icon-table"></i>
                    招聘管理
                </a>
                <ul>
                    <li>
                        <a href="tables.html" title="Normal tables">
                            <i class="glyph-icon icon-chevron-right"></i>
                            招聘申请
                        </a>
                    </li>
                    <li>
                        <a href="tables_dynamic.html" title="Dynamic tables">
                            <i class="glyph-icon icon-chevron-right"></i>
                            简历简析
                        </a>
                    </li>
                    <li>
                        <a href="tables_dynamic.html" title="Dynamic tables">
                            <i class="glyph-icon icon-chevron-right"></i>
                            面试过程
                        </a>
                    </li>
                    <li>
                        <a href="tables_dynamic.html" title="Dynamic tables">
                            <i class="glyph-icon icon-chevron-right"></i>
                            员工入职
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>

</div>
</html>