<!-- AUI Framework -->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="order by dede58.com"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>添加管理员</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Favicons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="assets/images/icons/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="assets/images/icons/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="assets/images/icons/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="assets/images/icons/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="assets/images/icons/favicon.png"/>

    <!--[if lt IE 9]>
    <script src="assets/js/minified/core/html5shiv.min.js"></script>
    <script src="assets/js/minified/core/respond.min.js"></script>
    <![endif]-->

    <!-- Fides Admin CSS Core -->

    <link rel="stylesheet" type="text/css" href="assets/css/minified/aui-production.min.css"/>

    <!-- Theme UI -->

    <link id="layout-theme" rel="stylesheet" type="text/css"
          href="assets/themes/minified/fides/color-schemes/dark-blue.min.css"/>

    <!-- Fides Admin Responsive -->

    <link rel="stylesheet" type="text/css" href="assets/themes/minified/fides/common.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/themes/minified/fides/responsive.min.css"/>

    <!-- Fides Admin JS -->

    <script type="text/javascript" src="assets/js/minified/aui-production.min.js"></script>

    <script>
        jQuery(window).load(
            function () {

                var wait_loading = window.setTimeout(function () {
                        $('#loading').slideUp('fast');
                        jQuery('body').css('overflow', 'auto');
                    }, 1000
                );

            });

    </script>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="overflow: hidden;">
<div th:replace="head::head"></div>

<div th:replace="left::left"></div>

<div id="page-content-wrapper" style="top: 53px">
    <div id="page-title">

        <h3>
            编辑管理员信息
            <small>

            </small>
        </h3>
    </div><!-- #page-title -->
    <div id="page-content">


        <h3>添加管理员</h3>
        <p class="font-gray-dark">
            默认密码为123456，如有需要可更改
        </p>

        <div class="example-box">
            <div class="example-code">

                <form id="demo-form-2" action="/registr" class="col-md-10 center-margin" method=""/>

                <div class="form-row">
                    <div class="form-label col-md-2">
                        <label for="">
                            请输入工号:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="form-input col-md-10">
                        <input type="text" name="account" data-type="text" data-trigger="change"
                               required="true"  class="parsley-validated"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label col-md-2">
                        <label for="">
                            请输入姓名:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="form-input col-md-10">
                        <input type="text" name="mark" data-type="text" data-trigger="change"
                               required="true"  class="parsley-validated"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label col-md-2">
                        <label for="">
                            请输入密码:
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="form-input col-md-10">
                        <input type="text" name="password" value="123456" data-type="text" data-trigger="change" required="true" class="parsley-validated"/>
                    </div>
                </div>
                <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">
                        请选择等级:
                        <span class="required">*</span>
                    </label>
                </div>
                <div class="form-input col-md-10">
                    <select id="" name="lever">
                        <option value="1"/>人事总监
                        <option value="2"/>人事专员
                        <option value="3"/>人事部员
                    </select>
                </div>
                </div>

                <div class="divider"></div>
                <div class="form-row">
                    <input type="hidden" name="superhidden" id="superhidden"/>
                    <div class="form-input col-md-10 col-md-offset-2">
                        <button  class="btn medium primary-bg radius-all-4" type="submit" id="demo-form-2-valid" >
                            提交
                        </button>
                    </div>
                </div>

                </form>

            </div>

        </div>
</body>
</html>
